{% extends "base.html" %}
{% block content %}
  <form action="/login" method="POST">
    {% csrf-field %}
    <span>User:</span>
    <input id="name" name="id" type="text" value="john.doe@domain.com" />
    {% if error.username %}
      {{error.username}}
    {% endif %}
    <br/>
    <span>Password:</span>
    <input id="secret" name="pass" type="password" value="1234" />
    {% if error.password %}
      {{error.password}}
    {% endif %}
    <br/>
    <input type="submit" value="send" />
    <br/>
    {% if login-error %}
      {{login-error}}
    {% endif %}
    {% if message %}
      {{message}}
    {% endif %}
  </form>
  <a href="/owner/init">Register</a>
{% endblock %}
