{% extends "base.html" %}
{% block content %}
  <form action="/sayHi" method="POST">
    {% csrf-field %}
    <span>Type your name:</span>
    <input id="name" name="name" type="text" />
    <input type="submit" value="send" />
  </form>
  {% if name %}
  <div>
    <span><h3>Hello {{name}}</h3></span>
  </div>
  {% endif %}
  <h1><strong>Samples</strong></h1>
  <ul>
  {% for sample in samples %}
    <li>{{sample.sample_id}} | {{sample.description}} | {{sample.created_on|date:"yyyy-MM-dd HH:mm:ss"}}</li>
  {% endfor %}
  </ul>
{% endblock %}
