{% extends "base.html" %}
{% block content %}
    <h3 class="my-4">Save contact</h3>
    <hr class="my-4"/>

    <form action="/contact/create" method="POST" class="m-auto">
        {% csrf-field %}

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        {% if message %}
            <div class="alert alert-primary">{{ message }}</div>
        {% endif %}

        <div class="form-group mb-3 row">
            <label for="contact-name" class="col-md-1 col-form-label">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control form-control-lg s-size" id="contact-name" name="contact-name" placeholder="A name.."
                       value="Whoopss" required>
                {% if error.contact-name %}
                    <div class="col-md-1 alert alert-danger error-msg">{{ error.contact-name }}</div>}
                {% endif %}
            </div>
        </div>

        <div class="form-group mb-3 row">
            <label for="contact-email" class="col-md-1 col-form-label">Email</label>
            <div class="col-md-10">
                <input type="text" class="form-control form-control-lg s-size" id="contact-email" name="contact-email" placeholder="An Email.."
                       value="whoopps@domain.net" required>
                {% if error.contact-email %}
                    <div class="col-md-1 alert alert-danger error-msg">{{ error.contact-email }}</div>
                {% endif %}
            </div>
        </div>

        <div class="form-group mb-3 row">
            <label for="contact-phone" class="col-md-1 col-form-label">Phone</label>
            <div class="col-md-10">
                <input type="text" class="form-control form-control-lg s-size" id="contact-phone" name="contact-phone" placeholder="A Phone.." required>
                {% if error.contact-phone %}
                    <div class="col-md-1 alert alert-danger error-msg">{{ error.contact-phone }}</div>
                {% endif %}
            </div>
        </div>

        <hr class="my-4"/>
        <div class="form-group mb-3 row">
            <label for="save-btn" class="col-md-5 col-form-label"></label>
            <div class="col-md-7">
                <button class="btn btn-primary btn-lg" type="submit">save</button>
            </div>
        </div>
    </form>
{% endblock %}
