{% extends "base.html" %}
{% block content %}
<h3 class="my-4">Contacts | <a href="/contact/add">Add contact</a></h3>
<hr class="my-4"/>
<form action="" class="m-auto" style="max-width:600px">
    <div class="form-group mb-3 row">
        <div class="col-md-12 side-by-side">
            <input type="text" class="form-control form-control-lg i-left-distance" id="filter" name="filter"
                placeholder="Enter name, email or phone..">
            <button class="btn btn-primary btn-lg i-left-distance" type="submit">find</button>
        </div>
    </div>
</form>

{% if contact-error %}
<div class="alert alert-danger">{{ contact-error }}</div>
{% endif %}

{% if message %}
<div class="alert alert-primary">{{ message }}</div>
{% endif %}

<form action="" class="m-auto">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
            <th scope="col">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
        <tr>
            <th scope="row">{{contact.contact_name}}</th>
            <td>{{contact.email}}</td>
            <td>{{contact.phone_number}}</td>
            <td><a href="/contact/update/{{contact.idt}}">edit</a> | <a href="/contact/delete/{{contact.idt}}">delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
